<p 
  style="color: green">
  <%= notice %>
</p>

<h3>Measures</h3>

<%= form_with url: measures_path, local: true, data: { turbo: false } do |f| %>
    <% f.label :name %><br>
    <%= f.select :name, ['All', 'BPC','CONS','CIV', 'CCP', 'CORP', 'EDC', 'ELEC', 'EVID', 'FAM', 'FIN', 'FGC', 'FAC', 'GOV', 'HNC', 
    'HSC', 'INS', 'LAB', 'MVC', 'PEN', 'PROB', 'PCC', 'PRC', 'PUC', 'RTC', 'SHC', 'UIC', 'VEH', 'WAT', 'WIC' ], :prompt => 'Choose A Category', style: "display: block" %>
  <div>
    <%= f.submit :Submit,  class: "btn" %>
  </div>
<% end %>

<br>

<table class="table table-warning">
  <thead>
    <tr>
      <th>
        Measure
      </th>
      <th>
        Subject
      </th>
      <th>
        Author
      </th>
      <th>
        Status
      </th>
      <th colspan="3">
      </th>
    </tr>
  </thead>
  <tbody>
    <% @all_measures.each do |measure| %>
        <% measure_arr = [] %>
        <% measure_arr = measure.split(",")%>
      <tr>
        <td>
        <i class="fas fa-bolt">
        <%= measure_arr[0] %>
        </td>
        <td>
        <%= measure_arr[1] %>
        </td>
        <td>
        <%= measure_arr[2] %>
        </td>
        <td>
        <%= measure_arr[3] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New bill', new_bill_path, class: "btn"  %>




